*{
    margin: 0%;
    padding: 0%;
}
.product{
    width: 300px;
    height: 508px;
    margin-bottom: 30px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 10px;
    position: relative;
}
.product img{
    width: 286px;
    height: 290px;
    border-radius: 10px;
    margin: 7px;
}
.product-details{
    margin: 7px;
}
.name-price p{
    font-size: 20px;
}
.brand-rating{
    margin-top: 15px;
}
.add-to-cart{
    width: 100%;
    background-color: rgb(252, 211, 130);
    color: black;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    bottom: 0%;
    text-decoration: none;
    border: none;
}
.add-to-cart:hover{
    background-color: rgb(231, 157, 9);
    transition: .3s;
}