*{
    margin: 0%;
    padding: 0%;
}
.product{
    width: 300px;
    height: auto
    pm ;
    margin-bottom: 30px;
    border: 1px solid rgb(160, 159, 159);
    border-radius: 10px;
}
.product img{
    width: 286px;
    height: 290px;
    border-radius: 10px;
    margin: 7px;
}
.product-details{
    margin: 7px;
}
.name-price p{
    font-size: 20px;
}
.brand-rating{
    margin-top: 30px;
}
.add-to-cart{
    background-color: rgb(252, 211, 130);
    padding: 5px;
    text-align: center;
    margin-top: 0%;
    border-radius: 0px 0px 10px 10px;
}